# Config
config.py
config/

# Output
results/
*.jsonl
pseudonymized_output/
ollama_logs/

# Journal files and variations
*.txt
!requirements.txt
*.json
*.log

# Python stuff
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
